<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <textarea>PRUEBAS</textarea>
        </div>
        <div class="col-md-6">
            <textarea>UNO</textarea>
        </div>
    </div>
</div>