<head>
  <title>{{title}}</title>
</head>

<body>
  <div class="jumbotron" style="background: black; color:white;">
    <h1>{{title}}</h1>
  </div>

  <div class="page-header">
    <div class="container">
      <h1>Ruteo Simple</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/destino']">Destino</a>
      </div>
    </div>
  </div>

  <div class="container content">
    <div class="row">
      <div class="col-sm-4">
          <h3>Listado de hoteles</h3>
      </div>
      <div class="col-sm-4">
        <h3>Contáctenos</h3>
      </div>
      <div class="col-sm-4">
        <h3>Contáctenos</h3>
      </div>
    </div>

    <router-outlet>

    </router-outlet>
    <app-lista-aux></app-lista-aux>
    
  </div>
</body>